.skillsOut{
    margin:20px;
    height: 40vh;
    
    
}

.skills{
    background-color:rgb(201, 201, 201);
    border-radius:20px;
    box-shadow:0px 0px 10px rgb(201, 201, 201);
}

.titleH{
    font-family:'Courier New', Courier, monospace;
    font-weight:500;
    font-size:40px;
    padding-top:10px;
    text-align: center;
    display:flex;
    justify-content:center;
    
    
    
}

.skillsIcons{
    font-size:40px;
    text-align: center;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 20px;
    background-color: rgb(233, 232, 232);
    box-shadow:0px 0px 10px rgb(126, 122, 122);
    animation: move 2s linear infinite;
    padding:10px
}

@keyframes move{
    0%{
        transform:translateY(0px)
    }
    20%{
        transform:translateY(-4px)
    }
    40%{
        transform:translateY(-8px)
    }
    60%{
        transform:translateY(-4px)
    }
    80%{
        transform:translateY(-2px)
    }
    100%{
        transform:translateY(0px)
    }
}



.box-1{
    flex:1;
}

.box-1:hover{
    color:rgb(235, 21, 21);
    transform:rotate(360deg) ;
    transition: 1s ease;
    
}


.box-2{
    flex:1;
}

.skillsIcons .box-2:hover{
    color:rgb(235, 21, 21);
    transform:rotateY(1turn) translateY(-5px);
    transition: 1s ease;
}


.box-3{
    flex:1;
}
.box-3:hover{
    color:rgb(235, 21, 21);
    transform:rotateY(1turn) translateY(-5px);
    transition: 0.6s ease;
}
.box-4{
    flex:1;
}
.box-4:hover{
    color:rgb(235, 21, 21);
    transform:rotateY(1turn) translateY(-5px);
    transition: 0.6s ease;
}
.box-5{
    flex:1;
}
.box-5:hover{
    color:rgb(235, 21, 21);
    transform:rotate(360deg) ;
    transition: 0.6s ease;
}
.box-6{
    flex:1;
    animation: animate 4s linear infinite;
}
.box-6:hover{
    color:rgb(235, 21, 21);
    transform:rotateY(1turn) translateY(-5px);
    transition: 1s ease;
    
}



